<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeyoo.mapper.AdminEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.jeyoo.pojo.AdminEmployee" >
    <constructor >
      <arg column="EmployeeID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DepartmentID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="EmployeeName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EmployeeNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UpdateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UpdateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsDelete" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.jeyoo.pojo.AdminEmployee" >
    insert into admin_employee (EmployeeID, DepartmentID, EmployeeName, 
      EmployeeNo, Password, Mobile, 
      Remarks, Status, CreateUser, 
      CreateTime, UpdateUser, UpdateTime, 
      IsDelete)
    values (#{employeeid,jdbcType=INTEGER}, #{departmentid,jdbcType=INTEGER}, #{employeename,jdbcType=VARCHAR}, 
      #{employeeno,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jeyoo.pojo.AdminEmployee" >
    insert into admin_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeeid != null" >
        EmployeeID,
      </if>
      <if test="departmentid != null" >
        DepartmentID,
      </if>
      <if test="employeename != null" >
        EmployeeName,
      </if>
      <if test="employeeno != null" >
        EmployeeNo,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="mobile != null" >
        Mobile,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createuser != null" >
        CreateUser,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updateuser != null" >
        UpdateUser,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeeid != null" >
        #{employeeid,jdbcType=INTEGER},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=INTEGER},
      </if>
      <if test="employeename != null" >
        #{employeename,jdbcType=VARCHAR},
      </if>
      <if test="employeeno != null" >
        #{employeeno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="selectByUsernameAndPassword" resultType="com.jeyoo.pojo.AdminEmployee">
    select * from admin_employee
    where EmployeeNo =#{username} and Password =#{password} and IsDelete=0
  </select>
</mapper>