<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house730.admin.mapper.PropertyReportMapper" >
  <resultMap id="BaseResultMap" type="com.house730.admin.pojo.PropertyReport" >
    <constructor >
      <arg column="ReportID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="PropertyID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Telephone" jdbcType="VARCHAR" javaType="java.lang.String" />
       <arg column="Source" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsDelete" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="IsHandle" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  
   <select id="queryPropertyReportList" resultType="com.house730.admin.pojo.PropertyReport">
        select ReportID,PropertyID, Source,Content,CreateTime from property_report  where isdelete=0
		  
		      <if test="propertyID!=null and propertyID !=''">
		       and PropertyID = #{propertyID}
		      </if>
		      <if test="source!=null and source !=''">
		      and  Source = #{source}
		      </if>
		     
		      <if test="startTime !=null and startTime !=''">
		        <![CDATA[ and createTime  >= str_to_date(#{startTime} '00:00:00', '%Y-%m-%d %H:%i:%s') ]]>
		      </if>
		      <if test="endTime !=null and endTime !=''"  >
		        <![CDATA[ and createTime <= str_to_date(#{endTime} '23:59:59', '%Y-%m-%d %H:%i:%s')   ]]>
		      </if>
		   
		   
   </select>
   
  <insert id="insert" parameterType="com.house730.admin.pojo.PropertyReport" >
    insert into Property_Report (ReportID, PropertyID, Name, 
      Email, Telephone, Content, 
      CreateTime, IsDelete, IsHandle
      )
    values (#{reportid,jdbcType=INTEGER}, #{propertyid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=BIT}, #{ishandle,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.house730.admin.pojo.PropertyReport" >
    insert into Property_Report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportid != null" >
        ReportID,
      </if>
      <if test="propertyid != null" >
        PropertyID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="telephone != null" >
        Telephone,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
      <if test="ishandle != null" >
        IsHandle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportid != null" >
        #{reportid,jdbcType=INTEGER},
      </if>
      <if test="propertyid != null" >
        #{propertyid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="ishandle != null" >
        #{ishandle,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>