<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house730.admin.mapper.PropertySubcategoryMapper" >
  <resultMap id="BaseResultMap" type="com.house730.admin.pojo.PropertySubcategory" >
    <constructor >
      <arg column="PropertyID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="SubCategory" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.house730.admin.pojo.PropertySubcategory" >
    insert into property_subcategory (PropertyID, SubCategory)
    values (#{propertyid,jdbcType=BIGINT}, #{subcategory,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.house730.admin.pojo.PropertySubcategory" >
    insert into property_subcategory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="propertyid != null" >
        PropertyID,
      </if>
      <if test="subcategory != null" >
        SubCategory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="propertyid != null" >
        #{propertyid,jdbcType=BIGINT},
      </if>
      <if test="subcategory != null" >
        #{subcategory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>