<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house730.admin.mapper.SysBlackListMapper" >
  <resultMap id="BaseResultMap" type="com.house730.admin.pojo.SysBlackList" >
    <constructor >
      <arg column="BlackID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Model" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ModelValue" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.house730.admin.pojo.SysBlackList" >
    insert into sys_blacklist (BlackID, Model, ModelValue, 
      Remark, CreateTime)
    values (#{blackid,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, #{modelvalue,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.house730.admin.pojo.SysBlackList" >
    insert into sys_blacklist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blackid != null" >
        BlackID,
      </if>
      <if test="model != null" >
        Model,
      </if>
      <if test="modelvalue != null" >
        ModelValue,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blackid != null" >
        #{blackid,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="modelvalue != null" >
        #{modelvalue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>