<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house730.admin.mapper.UserTicketMapper" >
  <resultMap id="BaseResultMap" type="com.house730.admin.pojo.UserTicket" >
    <constructor >
      <arg column="TicketID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CaseID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Telephone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="HelpTopic" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Subject" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UpdateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UpdateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsDelete" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.house730.admin.pojo.UserTicket" >
    insert into user_ticket (TicketID, CaseID, Name, 
      Email, Telephone, HelpTopic, 
      Subject, Message, Status, 
      CreateUser, CreateTime, UpdateUser, 
      UpdateTime, IsDelete)
    values (#{ticketid,jdbcType=INTEGER}, #{caseid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{helptopic,jdbcType=INTEGER}, 
      #{subject,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.house730.admin.pojo.UserTicket" >
    insert into user_ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ticketid != null" >
        TicketID,
      </if>
      <if test="caseid != null" >
        CaseID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="telephone != null" >
        Telephone,
      </if>
      <if test="helptopic != null" >
        HelpTopic,
      </if>
      <if test="subject != null" >
        Subject,
      </if>
      <if test="message != null" >
        Message,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createuser != null" >
        CreateUser,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updateuser != null" >
        UpdateUser,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ticketid != null" >
        #{ticketid,jdbcType=INTEGER},
      </if>
      <if test="caseid != null" >
        #{caseid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="helptopic != null" >
        #{helptopic,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>