<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house730.admin.mapper.UserCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.house730.admin.pojo.UserCollection" >
    <constructor >
      <arg column="CollectionID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="UserID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SourceType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SourceID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Source" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UpdateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UpdateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsDelete" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.house730.admin.pojo.UserCollection" >
    insert into user_collection (CollectionID, UserID, SourceType, 
      SourceID, Source, CreateUser, 
      CreateTime, UpdateUser, UpdateTime, 
      IsDelete)
    values (#{collectionid,jdbcType=BIGINT}, #{userid,jdbcType=INTEGER}, #{sourcetype,jdbcType=VARCHAR}, 
      #{sourceid,jdbcType=BIGINT}, #{source,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.house730.admin.pojo.UserCollection" >
    insert into user_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectionid != null" >
        CollectionID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="sourcetype != null" >
        SourceType,
      </if>
      <if test="sourceid != null" >
        SourceID,
      </if>
      <if test="source != null" >
        Source,
      </if>
      <if test="createuser != null" >
        CreateUser,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updateuser != null" >
        UpdateUser,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectionid != null" >
        #{collectionid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="sourcetype != null" >
        #{sourcetype,jdbcType=VARCHAR},
      </if>
      <if test="sourceid != null" >
        #{sourceid,jdbcType=BIGINT},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>