<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeyoo.mapper.UserContactattachmentMapper" >
  <resultMap id="BaseResultMap" type="com.jeyoo.pojo.UserContactattachment" >
    <constructor >
      <arg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ContactID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AttachmentPath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsDelete" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.jeyoo.pojo.UserContactattachment" >
    insert into user_contactattachment (ID, ContactID, AttachmentPath, 
      CreateTime, IsDelete)
    values (#{id,jdbcType=INTEGER}, #{contactid,jdbcType=INTEGER}, #{attachmentpath,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jeyoo.pojo.UserContactattachment" >
    insert into user_contactattachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="contactid != null" >
        ContactID,
      </if>
      <if test="attachmentpath != null" >
        AttachmentPath,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contactid != null" >
        #{contactid,jdbcType=INTEGER},
      </if>
      <if test="attachmentpath != null" >
        #{attachmentpath,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>